form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    font-family: helvetica;
    font-size: 14px;
    margin: 20px 0px;
  }

.grid3Col {
    grid-column: 1 / span 3;
}

input, textarea {
    display: block;
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #292929;
    border-radius: 2.5px;
    padding: 5px;
    font-family: helvetica;
}

label {
    width: 90%;
    margin: 5px;
    text-align: left;
}
